@model IEnumerable<Alvo.ViewModels.QuestionarioViewModel>

@{
    ViewBag.Modulo = "Questionário";
    ViewBag.Title = "Pesquisa";
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <input type="submit" value="Pesquisar" class="btn btn-primary" />
        @Html.ActionLink("Novo", "Create", "", new { @class = "btn btn-primary" })
    </div>
</div>
<p>&nbsp;</p>
<table id="dvData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit", title = "Editar" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-search", title = "Detalhes" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-remove-circle", title = "Excluir" })
                </td>
            </tr>
        }
    </tbody>
</table>
