@model IEnumerable<Alvo.ViewModels.QuestaoViewModel>

@{
    ViewBag.Modulo = "Questões";
    ViewBag.Title = "Pesquisa";
}
<table id="dvData" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCategoriaQuestao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdQuestionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorBarema)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaQuestao.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Questionario.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorBarema)
        </td>
        <td>
           @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil", title = "Editar" }) |
           @Html.ActionLink(" ", "Details", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-list-alt", title = "Detalhes" }) |
           @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-trash", title = "Excluir" })
        </td>
    </tr>
}

</table>
