@model Alvo.ViewModels.ProcessoSeletivoViewModel

@{
    ViewBag.Modulo = "Processo Seletivo";
    ViewBag.Title = "Detalhes";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Título")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.Raw("Nº Edital")
         </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEdital)
        </dd>

        <dt>
            @Html.Raw("Descrição")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.Raw("Data Início")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.Raw("Data Fim")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liberado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liberado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.Raw("Usuário Cadastro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuarioCadastro)
        </dd>

        <dt>
            @Html.Raw("Usuário Liberação")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuarioLiberacao)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary" })
    </div>
</div>
