@model IEnumerable<Alvo.ViewModels.UsuarioViewModel>

@{
    ViewBag.Modulo = "Usuário";
    ViewBag.Title = "Pesquisa";
}

<div class="col-md-12 col-sm-12">
    @*<input type="submit" value="Pesquisar" class="btn btn-primary" />*@
    @Html.ActionLink("Novo", "Create", "", new { @class = "btn btn-primary" })
</div>
<p>&nbsp;</p>
<table id="dvData" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.Raw("Perfil")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.Nome)
            </td>
            <td>
                @{
                    var CPF = string.Empty;
                    CPF = String.Format(@"{0:000\.000\.000\-00}", Convert.ToInt64(item.CPF));
                    @*@Html.DisplayFor(modelItem => item.CPF)*@
                    
                    @Html.Raw(CPF)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil", title = "Editar" }) |
                @Html.ActionLink(" ", "Details", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-list-alt", title = "Detalhes do Usuário" })
                @*|@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
