@using Alvo.Common.HtmlHelpers
@model IEnumerable<Alvo.ViewModels.CandidatoViewModel>

@{
    ViewBag.Modulo = "Candidato";
    ViewBag.Title = "Novo/Importação";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset id="Processo">
    <legend>Filtro de Pesquisa</legend>
        <div class="row">
            <div class="col-md-5 col-sm-5">
             <div class="form-group">
                <div>
                    @Html.Label("Processo Seletivo", htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("IdProcessoSeletivo", null, "Selecione", new { @class = "js-example-basic-single js-states form-control", @Name = "IdProcessoSeletivo" })<br />
                </div>
            </div>
        </div>
        </div>
    </fieldset>
    <hr />
    <div class="row">
    <div class="col-md-12 col-sm-12">
        <input type="submit" value="Pesquisar" class="btn btn-primary" />
        @*@Html.ActionLink("Novo", "Create", "", new { @class = "btn btn-primary" })*@
        @Ajax.ActionLink("Importar Candidato", "PopUpImportarCandidatos", "Candidato",
                        null,
                                          new AjaxOptions() { LoadingElementId = "divCarregando", HttpMethod = "Post", UpdateTargetId = "ConteudoImportacaoCandidato", OnSuccess = "ExibirPopUpImportacaoCandidato", InsertionMode = InsertionMode.Replace },
                       new { @class = "btn btn-default", @title = "Importação de Candidatos", @Id = "btnPopUp" })



    </div>

    </div>
<hr />
<table id="dvData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFormatada)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit", title = "Editar" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-search", title = "Detalhes" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-remove-circle", title = "Excluir" })
                    @*@Html.ActionLink(" ", "Details", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-transfer", title = "Selecionar Professor" })*@

                </td>
            </tr>
        }
    </tbody>
</table>
}

    <!------------------------------------------------------------------- MODAL ----------------------------------------->
<div class="modal" id="modalImportacaoCandidato" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 800px; height:400px;margin: 0 auto; overflow: hidden;">
        <div class="modal-content" style="margin-top: 30%; width: 90%; margin: 0 auto;">
            <div class="modal-header" style="background-color: #3598D8; border-radius: 0 0 7px 7px;color:white;">
                <button type="button" id="btnCloseModal" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title" id="LabelModal">
                    Importação de Candidatos
                </h4>
            </div>
            <div class="modal-body" style="height: 400px; overflow-y: auto;">
                <div id="ConteudoImportacaoCandidato">

                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal" name="OK">Close</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!------------------------------------------------------------------- MODAL ----------------------------------------->
<script type="text/javascript">
    function ExibirPopUpImportacaoCandidato(param) {
        $('#modalImportacaoCandidato').modal('show');
    }
</script>

@section Scripts {
    @Html.RenderScripts()
    @{Html.RenderPartial("~/Views/Shared/_Mensagem.cshtml");}

}
