<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/Scripts/jquery-3.1.0.min.js")
    @Scripts.Render("~/bundles/jquery")


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="alvo">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Alvo", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            </div>
            @Html.Action("_MenuResult", "Home")
          <!--  <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Questionário", "Index", "Questionario")</li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Processo Seletivo<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Processo Seletivo", "Index", "ProcessoSeletivo")</li>
                            <li>@Html.ActionLink("Questionário", "Index", "Questionario")</li>
                            @*<li role="separator" class="divider"></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Candidato<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastro/Importação", "Index", "Candidato")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Avaliação<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Distribuição", "Distribuicao", "Avaliacao")</li>
                            <li>@Html.ActionLink("Avaliação", "Index", "Avaliacao")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Segurança<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Usuário", "Index", "Usuario")</li>
                            <li>@Html.ActionLink("Perfil", "Index", "Perfil")</li>
                            @*<li role="separator" class="divider"></li>*@
                        </ul>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <div class="container body-content">
        <div id="page-title" class="row page-title">
            <h2 class="col-md-12">
                @ViewBag.Modulo <span style="color: #a0a0a0">|&nbsp;@ViewBag.Title</span>
            </h2>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ALVO - Processo Seletivo</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $(".js-example-basic-single").select2();
        });
    </script>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-single").select2();
    });

    $(function () {
        $('[rel=popover]').popover({
            html: true,
            content: function () {
                return $('#content-pop').html();
            }
        });
    });
</script>
</html>
