@using System.Text
@using WebGrease.Css.Extensions
@model IEnumerable<Alvo.ViewModels.PerfilMenuViewModel>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @*<li>@Html.ActionLink("Validação Fornecedor", "Index", "Familia")</li>*@
      
            @foreach (var MenuItem in Model.Where(x => x.menu.IdPai == null))
            {
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@MenuItem.menu.Nome<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @foreach (var SubmenuItem in MenuItem.menu.SubMenus.Where(sb=> Model.Any(md=>md.perfil.perfilmenus.Any(pm=>pm.IdMenu.Equals(sb.Id)))))
                        {
                            <li>@Html.ActionLink(SubmenuItem.Nome, SubmenuItem.Action, SubmenuItem.Controller)</li>
                            @*<li>@Html.ActionLink("Credenciado/Descredenciado", "Index", "Familia")</li>*@
                        }
                        @*<li role="separator" class="divider"></li>*@
                    </ul>
                </li>
            }
        
        @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exemplo Menu com SubMenu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Opção 1", "Index", "Home")</li>
                    <li>@Html.ActionLink("Opção 2", "Index", "Home")</li>
                    <li>@Html.ActionLink("Opção 3", "Index", "Home")</li>
                    <li>@Html.ActionLink("Opção 4", "Index", "Home")</li>
                    @*<li role="separator" class="divider"></li>
                </ul>
            </li>*@
        @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

    </ul>
    
</div>

 
<script type="text/javascript">
    function ExibirPopUp(param) {
        $('#modalAlterarSenha').modal('show');
    }
</script>