@using Alvo.Common.HtmlHelpers
@model Alvo.ViewModels.UsuarioViewModel

@{
    Layout = Layout = "~/Views/Shared/_LayoutLogin.cshtml"; ;
}



@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.ValidationMessage("Sucesso", new { @class = "text-success" })
@Html.ValidationMessage("Error", new { @class = "text-danger" })
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Efetue o Login</h3>
            </div>
            <div class="panel-body login-form">
                @using (Html.BeginForm("Login", "Home"))
                {

                    <fieldset>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.CPF, new { @class = "form-control", maxlength = 30, placeholder = "Usuário" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(model => model.Senha, new { @class = "form-control", maxlength = 15, placeholder = "Senha" })
                        </div>
                        <div class="botoes_entrar">
                            <input type="submit" value="Entrar" class="btn btn-default medium yellow" />
                            @*@Html.ActionLink("Esqueci a Senha", "Recupera")*@
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Html.RenderScripts()
    @{Html.RenderPartial("~/Views/Shared/_Mensagem.cshtml");}

}








