@model Alvo.ViewModels.QuestionarioViewModel

<table class="table" style="width:100%">
                    @{
        int? lIdEtapaAtual = 0;
        int? lIdCategoriaAtual = 0;
        int? lIdGrupoAtual = 0;

        int? lIdEtapaAnterior = 0;
        int? lIdCategoriaAnterior = 0;
        int? lIdGrupoAnterior = 0;

        decimal lTotalPontos = 0;
        decimal lTotalGeralPontosParcial = 0;
        string lClassEtapa3 = "form-control";
        bool lDisabled = false;

        int lTotalEtapa2Grupo1 = 0;
        int lContadorEtapa2Grupo1 = 0;

        lTotalEtapa2Grupo1 = Model.Questao.Where(x=>x.IdEtapa == 2 && x.IdCategoriaQuestao == 1).Count();

        //foreach (var item in Model.Questao)
        for (int i = 0; i < Model.Questao.Count; i++)
        {
            /*Cria o primeiro Cabeçalho*/
            if (lIdEtapaAtual == 0 && lIdGrupoAtual == 0 && lIdCategoriaAtual == 0)
            {
                <tr>
                    <td colspan="3" style="text-align:center;color:white;font-size:large;font-family:Arial;background-color:black">@Html.Label(Model.Questao[i].Etapa.Nome, htmlAttributes: new { @class = "control-label" })</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;font-size:large;background-color:#8B8989"><strong>@Html.Label(Model.Questao[i].CategoriaQuestao.GrupoQuestao.Nome, htmlAttributes: new { @class = "control-label" })</strong></td>
                </tr>
                <tr style="background-color:#EEE9E9;width:71%">
                    <th align="center">
                        @Html.Label(Model.Questao[i].CategoriaQuestao.Nome, htmlAttributes: new { @class = "control-label", @style = "font-weight:bold; text-align:center;" })
                    </th>
                    <th style="text-align:center;width:20%">
                        @Html.Raw("Pontuação Máxima")
                    </th>
                    <th></th>
                </tr>
            }
            else if (Model.Questao[i].IdEtapa != lIdEtapaAtual || Model.Questao[i].IdCategoriaQuestao != lIdCategoriaAtual || Model.Questao[i].CategoriaQuestao.IdGrupoQuestao != lIdGrupoAtual)
            {
                /*Cria o novo cabeçalho quando a Etapa ou Categoria Grupo sejam diferentes do atual*/
                if (Model.Questao[i].IdEtapa != lIdEtapaAtual)
                {
                    <tr>
                        <td colspan="3" style="text-align:center;color:white;font-size:large;font-family:Arial;background-color:black">@Html.Label(Model.Questao[i].Etapa.Nome, htmlAttributes: new { @class = "control-label" })</td>
                    </tr>
                }
                if (Model.Questao[i].CategoriaQuestao.IdGrupoQuestao != lIdGrupoAtual)
                {
                    <tr>
                        <td colspan="3" style="text-align:center;font-size:large;background-color:#8B8989"><strong>@Html.Label(Model.Questao[i].CategoriaQuestao.GrupoQuestao.Nome, htmlAttributes: new { @class = "control-label" })</strong></td>
                    </tr>
                }
                if (Model.Questao[i].IdCategoriaQuestao != lIdCategoriaAtual)
                {
                    <tr style="background-color:#EEE9E9;width:71%">
                        <th align="center">
                            @Html.Label(Model.Questao[i].CategoriaQuestao.Nome, htmlAttributes: new { @class = "control-label", @style = "font-weight:bold; text-align:center;" })
                        </th>
                        <th style="text-align:center;width:20%">
                            @Html.Raw("Pontuação Máxima")
                        </th>
                        <th></th>
                    </tr>
                }
            }

            if (lIdEtapaAtual == 0)
            {
                lIdEtapaAtual = (Model.Questao[i].IdEtapa != null) ? Model.Questao[i].IdEtapa : 0;
            }
            else
            {
                if (lIdEtapaAtual != Model.Questao[i].IdEtapa || Model.Questao[i].IdEtapa == 2)
                {
                    lIdEtapaAnterior = lIdEtapaAtual;
                }

                lIdEtapaAtual = Model.Questao[i].IdEtapa;
            }

            if (lIdGrupoAtual == 0)
            {
                lIdGrupoAtual = (Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id != null) ? Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id : 0;
            }
            else
            {
                if (lIdGrupoAtual != Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id || Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id == 1)
                {
                    lIdGrupoAnterior = lIdGrupoAtual;
                }
                lIdGrupoAtual = Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id;
            }

            if (lIdCategoriaAtual == 0)
            {
                lIdCategoriaAtual = (Model.Questao[i].CategoriaQuestao.Id != null) ? Model.Questao[i].CategoriaQuestao.Id : 0;
            }
            else
            {
                if (lIdCategoriaAtual != Model.Questao[i].CategoriaQuestao.Id || Model.Questao[i].CategoriaQuestao.Id == 1)
                {
                    lIdCategoriaAnterior = lIdCategoriaAtual;
                }
                lIdCategoriaAtual = Model.Questao[i].CategoriaQuestao.Id;
            }

            if (Model.Questao[i].IdEtapa == lIdEtapaAtual && Model.Questao[i].CategoriaQuestao.IdGrupoQuestao == lIdGrupoAtual)
            {
                lTotalPontos += (decimal)Model.Questao[i].ValorBarema;

                if (Model.Questao[i].IdEtapa == 2)
                {
                    lTotalGeralPontosParcial += (decimal)Model.Questao[i].ValorBarema;
                }

                if (Model.Questao[i].IdEtapa == 2 && Model.Questao[i].IdCategoriaQuestao == 1)
                {
                    lContadorEtapa2Grupo1++;
                }

                    <input type="hidden" id="TotalGeralPontosParcial" value=@lTotalGeralPontosParcial />
                    <tr>
                        <td style="font-size:small;height:auto">
                            @Html.DisplayFor(modelItem => Model.Questao[i].Descricao)
                        </td>
                        <td style="text-align:center;vertical-align:middle;font-size:small;height:auto">
                            @Html.DisplayFor(modelItem => Model.Questao[i].ValorBarema)
                        </td>
                        <td style="text-align:center;vertical-align:middle" valign="middle" width="9%">
                            @*@if ((lIdEtapaAtual == 2 && lIdGrupoAtual == 2)||lIdEtapaAtual == 3)*@
                            @if (lIdEtapaAtual == 3)
                                        {
                                            lDisabled = true;
                                        }

                            @if(!lDisabled)
                            {
                                @Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = lClassEtapa3, @style = "text-align:right;font-size:medium" }} )
                            }else{
                                @Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = lClassEtapa3, @style = "text-align:right;font-size:medium", @disabled="disabled" }} )
                            }

                            @Html.HiddenFor(model => model.Questao[i].RespostaQuestao[0].IdQuestao)
                            @Html.HiddenFor(model => model.Questao[i].RespostaQuestao[0].IdAvaliacao, new { @Value = ViewBag.IdAvaliacao })
                        </td>
                    </tr>
                    if (lContadorEtapa2Grupo1 == lTotalEtapa2Grupo1)
                    {
                        <tr>
                            <td colspan="3" style="color:black;font-size:medium;font-family:Arial;background-color:#D8BFD8">@Html.Label("PARECER DO AVALIADOR", htmlAttributes: new { @class = "control-label" })</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <textarea name="ParecerAvaliador" rows="10" style="width:800px">Descreva o parecer</textarea>
                            </td>
                        </tr>
                        lContadorEtapa2Grupo1 = 0;
                    }
                }
        }
        <tr>
            <td>
                TOTAL DE PONTOS GERAL
            </td>
            <td style="text-align:center;font-size:medium">
                @Html.Raw(lTotalPontos)
            </td>
            <td></td>
        </tr>
    }
</table>
