@model Alvo.ViewModels.QuestionarioViewModel

<table class="table" style="width:100%">
    @{

        int? lIdEtapaAtual = 0;
        int? lIdCategoriaAtual = 0;
        int? lIdGrupoAtual = 0;

        int? lIdEtapaAnterior = 0;
        int? lIdCategoriaAnterior = 0;
        int? lIdGrupoAnterior = 0;
        
        decimal lTotalPontos = 0;

        //foreach (var item in Model.Questao)
        for (int i = 0; i < Model.Questao.Count; i++)
        {
            /*Cria o primeiro Cabeçalho*/
            if (lIdEtapaAtual == 0 && lIdGrupoAtual == 0 && lIdCategoriaAtual == 0)
            {
                <tr>
                    <td colspan="3" style="text-align:center;color:white;font-size:large;font-family:Arial;background-color:black">@Html.Label(Model.Questao[i].Etapa.Nome, htmlAttributes: new { @class = "control-label" })</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;font-size:large;background-color:#8B8989"><strong>@Html.Label(Model.Questao[i].CategoriaQuestao.GrupoQuestao.Nome, htmlAttributes: new { @class = "control-label" })</strong></td>
                </tr>
                <tr style="background-color:#EEE9E9;width:73%">
                    <th align="center">
                        @Html.Label(Model.Questao[i].CategoriaQuestao.Nome, htmlAttributes: new { @class = "control-label", @style = "font-weight:bold; text-align:center;" })
                    </th>
                    <th style="text-align:center;width:20%">
                        @Html.Raw("Pontuação Máxima")
                    </th>
                    <th></th>
                </tr>
            }
            else if (Model.Questao[i].IdEtapa != lIdEtapaAtual || Model.Questao[i].IdCategoriaQuestao != lIdCategoriaAtual || Model.Questao[i].CategoriaQuestao.IdGrupoQuestao != lIdGrupoAtual)
            {
                /*Cria o novo cabeçalho quando a Etapa ou Categoria Grupo sejam diferentes do atual*/
                if (Model.Questao[i].IdEtapa != lIdEtapaAtual)
                {
                    <tr>
                        <td colspan="3" style="text-align:center;color:white;font-size:large;font-family:Arial;background-color:black">@Html.Label(Model.Questao[i].Etapa.Nome, htmlAttributes: new { @class = "control-label" })</td>
                    </tr>
                }
                if (Model.Questao[i].CategoriaQuestao.IdGrupoQuestao != lIdGrupoAtual)
                {
                    <tr>
                        <td colspan="3" style="text-align:center;font-size:large;background-color:#8B8989"><strong>@Html.Label(Model.Questao[i].CategoriaQuestao.GrupoQuestao.Nome, htmlAttributes: new { @class = "control-label" })</strong></td>
                    </tr>
                }
                if (Model.Questao[i].IdCategoriaQuestao != lIdCategoriaAtual)
                {
                    <tr style="background-color:#EEE9E9;width:73%">
                        <th align="center">
                            @Html.Label(Model.Questao[i].CategoriaQuestao.Nome, htmlAttributes: new { @class = "control-label", @style = "font-weight:bold; text-align:center;" })
                        </th>
                        <th style="text-align:center;width:20%">
                            @Html.Raw("Pontuação Máxima")
                        </th>
                        <th></th>
                    </tr>
                }
            }

            if (lIdEtapaAtual == 0)
            {
                lIdEtapaAtual = (Model.Questao[i].IdEtapa != null) ? Model.Questao[i].IdEtapa : 0;
            }
            else
            {
                if (lIdEtapaAtual != Model.Questao[i].IdEtapa)
                {
                    lIdEtapaAnterior = lIdEtapaAtual;
                }

                lIdEtapaAtual = Model.Questao[i].IdEtapa;
            }

            if (lIdGrupoAtual == 0)
            {
                lIdGrupoAtual = (Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id != null) ? Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id : 0;
            }
            else
            {
                if (lIdGrupoAtual != Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id)
                {
                    lIdGrupoAnterior = lIdGrupoAtual;
                }
                lIdGrupoAtual = Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id;
            }

            if (lIdCategoriaAtual == 0)
            {
                lIdCategoriaAtual = (Model.Questao[i].CategoriaQuestao.Id != null) ? Model.Questao[i].CategoriaQuestao.Id : 0;
            }
            else
            {
                if (lIdCategoriaAtual != Model.Questao[i].CategoriaQuestao.Id)
                {
                    lIdCategoriaAnterior = lIdCategoriaAtual;
                }
                lIdCategoriaAtual = Model.Questao[i].CategoriaQuestao.Id;
            }

            if (Model.Questao[i].IdEtapa == lIdEtapaAtual && Model.Questao[i].CategoriaQuestao.IdGrupoQuestao == lIdGrupoAtual)
            {
                lTotalPontos += (decimal)Model.Questao[i].ValorBarema;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Questao[i].Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Questao[i].ValorBarema)
                    </td>
                    <td align="center" valign="middle" width="7%">
                        @*<input type="text" name="ValorResposta" id="Nota" class="textbox-nota" />*@
                        @Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Questao[i].RespostaQuestao[0].IdQuestao)
                        @Html.HiddenFor(model => model.Questao[i].RespostaQuestao[0].IdAvaliacao, new { @Value = ViewBag.IdAvaliacao })
                    </td>
                </tr>
            }
            else if (lIdEtapaAnterior == 2 && lIdGrupoAnterior == 1 && lIdCategoriaAnterior == 1)
            {
                <tr>
                    <td colspan="3" style="text-align:center;color:white;font-size:medium;font-family:Arial;background-color:black">@Html.Label("PARECER DO AVALIADOR", htmlAttributes: new { @class = "control-label" })</td>
                </tr>
                <tr>
                    <td colspan="3">

                        <textarea name="ParecerAvaliador" rows="10">Enter text here...</textarea>
                    </td>
                </tr>

            }
        }
        <tr>
            <td>
                TOTAL DE PONTOS GERAL
            </td>
            <td>
                @Html.Raw(lTotalPontos)
            </td>
            <td></td>
        </tr>
    }
</table>
