@model Alvo.ViewModels.QuestionarioViewModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.ValidationMessage("Sucesso", new { @class = "text-success" })
@Html.ValidationMessage("Error", new { @class = "text-danger" })
<table class="table questoes" style="width:100%" id="tblQuestoesAvaliacao">
@{
    int? lIdEtapaAtual = 0;
    int? lIdCategoriaAtual = 0;
    int? lIdGrupoAtual = 0;

    int? lIdEtapaAnterior = 0;
    int? lIdCategoriaAnterior = 0;
    int? lIdGrupoAnterior = 0;

    decimal lTotalPontos = 0;
    decimal lTotalGeralPontosParcial = 0;
    string lClassEtapa31 = "form-control questaoEtapa31";
    bool lDisabled = false;

    int lTotalEtapa2Grupo1 = 0;
    int lContadorEtapa2Grupo1 = 0;

    Alvo.ViewModels.UsuarioViewModel lUsuario = ViewBag.Usuario;
    int lIdSituacaoAvaliacao = ViewBag.IdSituacaoAvaliacao;
    string lNotaParcial = "7";

    lTotalEtapa2Grupo1 = Model.Questao.Where(x => x.IdEtapa == 2 && x.IdCategoriaQuestao == 1).Count();

    for (int i = 0; i < Model.Questao.Count; i++)
    {
        /*Cria o primeiro Cabeçalho*/
        if (lIdEtapaAtual == 0 && lIdGrupoAtual == 0 && lIdCategoriaAtual == 0)
        {
            if (Model.Questao[i].IdEtapa != 3 && lIdSituacaoAvaliacao != 3)
            {
                    <tr>
                        <td colspan="3" style="text-align:center;color:white;font-size:large;font-family:Arial;background-color:black">@Html.Label(Model.Questao[i].Etapa.Nome, htmlAttributes: new { @class = "control-label" })</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:center;font-size:large;background-color:#8B8989"><strong>@Html.Label(Model.Questao[i].CategoriaQuestao.GrupoQuestao.Nome, htmlAttributes: new { @class = "control-label" })</strong></td>
                    </tr>
                    <tr style="background-color:#EEE9E9;width:71%">
                        <th align="center">
                            @Html.Label(Model.Questao[i].CategoriaQuestao.Nome, htmlAttributes: new { @class = "control-label", @style = "font-weight:bold; text-align:center;" })
                        </th>
                        <th style="text-align:center;width:20%">
                            @Html.Raw("Pontuação Máxima")
                        </th>
                        <th></th>
                    </tr>
                }            
            }
            else if (Model.Questao[i].IdEtapa != lIdEtapaAtual || Model.Questao[i].IdCategoriaQuestao != lIdCategoriaAtual || Model.Questao[i].CategoriaQuestao.IdGrupoQuestao != lIdGrupoAtual)
            {
                /*Cria o novo cabeçalho quando a Etapa ou Categoria Grupo sejam diferentes do atual*/
                if (Model.Questao[i].IdEtapa != lIdEtapaAtual)
                {
                    //Se a 3ª etapa e a média for maior ou igual à 7 exibe o titulo da 3ª etapa
                    if (Model.Questao[i].IdEtapa != 3 && lIdSituacaoAvaliacao != 3) 
                    { 
                        <tr>
                            <td colspan="3" style="text-align:center;color:white;font-size:large;font-family:Arial;background-color:black">@Html.Label(Model.Questao[i].Etapa.Nome, htmlAttributes: new { @class = "control-label" })</td>
                        </tr>
                    }
                    else if ((Model.Questao[i].IdEtapa == 3 && lIdSituacaoAvaliacao == 3) && decimal.Parse(lNotaParcial) >= 7)
                    {
                        <tr>
                            <td colspan="3" style="text-align:center;color:white;font-size:large;font-family:Arial;background-color:black">@Html.Label(Model.Questao[i].Etapa.Nome, htmlAttributes: new { @class = "control-label" })</td>
                        </tr>
                    }
                }
                if (Model.Questao[i].CategoriaQuestao.IdGrupoQuestao != lIdGrupoAtual)
                {
                    if (Model.Questao[i].IdEtapa != 3 && lIdSituacaoAvaliacao != 3)
                    {
                        <tr>
                            <td colspan="3" style="text-align:center;font-size:large;background-color:#8B8989"><strong>@Html.Label(Model.Questao[i].CategoriaQuestao.GrupoQuestao.Nome, htmlAttributes: new { @class = "control-label" })</strong></td>
                        </tr>
                    }
                    else if ((Model.Questao[i].IdEtapa == 3 && lIdSituacaoAvaliacao == 3) && decimal.Parse(lNotaParcial) >= 7)
                    {
                        <tr>
                            <td colspan="3" style="text-align:center;font-size:large;background-color:#8B8989"><strong>@Html.Label(Model.Questao[i].CategoriaQuestao.GrupoQuestao.Nome, htmlAttributes: new { @class = "control-label" })</strong></td>
                        </tr>
                    }
                }
                if (Model.Questao[i].IdCategoriaQuestao != lIdCategoriaAtual)
                {
                    if (Model.Questao[i].IdEtapa != 3 && lIdSituacaoAvaliacao != 3)
                    {
                        <tr style="background-color:#EEE9E9;width:71%">
                            <th align="center">
                                @Html.Label(Model.Questao[i].CategoriaQuestao.Nome, htmlAttributes: new { @class = "control-label", @style = "font-weight:bold; text-align:center;" })
                            </th>
                            <th style="text-align:center;width:20%">
                                @Html.Raw("Pontuação Máxima")
                            </th>
                            <th></th>
                        </tr>
                    }
                    else if ((Model.Questao[i].IdEtapa == 3 && lIdSituacaoAvaliacao == 3) && decimal.Parse(lNotaParcial) >= 7)
                    {
                        <tr style="background-color:#EEE9E9;width:71%">
                            <th align="center">
                                @Html.Label(Model.Questao[i].CategoriaQuestao.Nome, htmlAttributes: new { @class = "control-label", @style = "font-weight:bold; text-align:center;" })
                            </th>
                            <th style="text-align:center;width:20%">
                                @Html.Raw("Pontuação Máxima")
                            </th>
                            <th></th>
                        </tr>
                    }

                }
            }

            if (lIdEtapaAtual == 0)
            {
                lIdEtapaAtual = (Model.Questao[i].IdEtapa != null) ? Model.Questao[i].IdEtapa : 0;
            }
            else
            {
                if (lIdEtapaAtual != Model.Questao[i].IdEtapa || Model.Questao[i].IdEtapa == 2)
                {
                    lIdEtapaAnterior = lIdEtapaAtual;
                }

                lIdEtapaAtual = Model.Questao[i].IdEtapa;
            }

            if (lIdGrupoAtual == 0)
            {
                lIdGrupoAtual = (Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id != null) ? Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id : 0;
            }
            else
            {
                if (lIdGrupoAtual != Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id || Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id == 1)
                {
                    lIdGrupoAnterior = lIdGrupoAtual;
                }
                lIdGrupoAtual = Model.Questao[i].CategoriaQuestao.GrupoQuestao.Id;
            }

            if (lIdCategoriaAtual == 0)
            {
                lIdCategoriaAtual = (Model.Questao[i].CategoriaQuestao.Id != null) ? Model.Questao[i].CategoriaQuestao.Id : 0;
            }
            else
            {
                if (lIdCategoriaAtual != Model.Questao[i].CategoriaQuestao.Id || Model.Questao[i].CategoriaQuestao.Id == 1)
                {
                    lIdCategoriaAnterior = lIdCategoriaAtual;
                }
                lIdCategoriaAtual = Model.Questao[i].CategoriaQuestao.Id;
            }

            if (Model.Questao[i].IdEtapa == lIdEtapaAtual && Model.Questao[i].CategoriaQuestao.IdGrupoQuestao == lIdGrupoAtual)
            {
                lTotalPontos += (decimal)Model.Questao[i].ValorBarema;

                if (Model.Questao[i].IdEtapa == 2)
                {
                    lTotalGeralPontosParcial += (decimal)Model.Questao[i].ValorBarema;
                }

                if (Model.Questao[i].IdEtapa == 2 && Model.Questao[i].IdCategoriaQuestao == 1)
                {
                    lContadorEtapa2Grupo1++;
                }

                    <input type="hidden" id="TotalGeralPontosParcial" value=@lTotalGeralPontosParcial />
                if (Model.Questao[i].IdEtapa != 3 && lIdSituacaoAvaliacao != 3)
                {
                    <tr name="QuestaoQuestionario" idquestao="@Model.Questao[i].Id" valorMaximo="@Model.Questao[i].ValorBarema" data-questao="">
                        <td style="font-size:small;height:auto">
                            @Html.DisplayFor(modelItem => Model.Questao[i].Descricao)
                        </td>
                        <td style="text-align:center;vertical-align:middle;font-size:small;height:auto" class="valorBarema">
                            @Html.DisplayFor(modelItem => Model.Questao[i].ValorBarema)
                        </td>
                        <td style="text-align:center;vertical-align:middle" valign="middle" width="9%" class="questao" data-id-grupo=@lIdGrupoAtual>
                            @if (lIdEtapaAtual == 3)
                            {
                                lDisabled = true;
                            }

                            @if (!lDisabled)
                            {
                                if (Model.Questao[i].RespostaQuestao != null && Model.Questao[i].RespostaQuestao.Count > 0)
                                {
                                    //somente Usuario Secretaria poderá preencher questões da categoria Categoria FORMAÇÃO e terceira questão da categoria PRODUÇÃO TÉCNICA E/OU TECNOLOGIA
                                    if (lUsuario.Perfil.Id != (int)Dominio.Enums.Perfil.Secretaria && lUsuario.Perfil.Id != (int)Dominio.Enums.Perfil.Administrador)
                                    {
                                        @*@Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;font-size:medium;width:60px", @Id = "txtNota-" + @Model.Questao[i].Id, @onkeyup = "AoDigitarNota(" + @Model.Questao[i].Id + ")", @onchange = "AoSairNota(" + @Model.Questao[i].Id + ")" } })*@
                                        @Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;font-size:medium;width:60px", @Id = "txtNota-" + @Model.Questao[i].Id, @onkeyup = "AoDigitarNota(" + @Model.Questao[i].Id + ")", @onchange = "AoSairNota(" + @Model.Questao[i].Id + ")" } })
                                    }
                                    else
                                    {
                                        @*@Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;font-size:medium;;background-color:#eeeeee;width:60px", @Id = "txtNota-" + @Model.Questao[i].Id, @onkeyup = "AoDigitarNota(" + @Model.Questao[i].Id + ")", @onchange = "AoSairNota(" + @Model.Questao[i].Id + ")", @readonly = "readonly" } })*@
                                        @Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;font-size:medium;;background-color:#eeeeee;width:60px", @Id = "txtNota-" + @Model.Questao[i].Id, @onkeyup = "AoDigitarNota(" + @Model.Questao[i].Id + ")", @onchange = "AoSairNota(" + @Model.Questao[i].Id + ")", @readonly = "readonly" } })
                                    }
                                }
                            }
                            @*else
                            {
                                if (Model.Questao[i].RespostaQuestao != null && Model.Questao[i].RespostaQuestao.Count > 0)
                                {
                                @Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = lClassEtapa31, @style = "text-align:right;font-size:medium;width:60px", @Id = "txtNota-" + @Model.Questao[i].Id, @onkeyup = "AoDigitarNota(" + @Model.Questao[i].Id + ")" } })
                                }
                            }*@

                            @if (Model.Questao[i].RespostaQuestao != null && Model.Questao[i].RespostaQuestao.Count > 0)
                            {
                                @Html.HiddenFor(model => model.Questao[i].RespostaQuestao[0].IdQuestao)
                                @Html.HiddenFor(model => model.Questao[i].RespostaQuestao[0].IdAvaliacao, new { @Value = ViewBag.IdAvaliacao })
                            }
                        </td>
                    </tr>
                }
                else if ((Model.Questao[i].IdEtapa == 3 && lIdSituacaoAvaliacao == 3) && decimal.Parse(lNotaParcial) >= 7)//-----------------------------------------------------------
                {
                    <tr name="QuestaoQuestionario" idquestao="@Model.Questao[i].Id" valormaximo="@Model.Questao[i].ValorBarema">
                        <td style="font-size:small;height:auto">
                            @Html.DisplayFor(modelItem => Model.Questao[i].Descricao)
                        </td>
                        <td style="text-align:center;vertical-align:middle;font-size:small;height:auto" class="valorBarema">
                            @Html.DisplayFor(modelItem => Model.Questao[i].ValorBarema)
                        </td>
                        <td style="text-align:center;vertical-align:middle" valign="middle" width="9%" class="questao" data-id-grupo=@lIdGrupoAtual>
                            @if (lIdEtapaAtual == 3)
                            {
                                lDisabled = true;
                            }

                            @if (!lDisabled)
                            {
                                if (Model.Questao[i].RespostaQuestao != null && Model.Questao[i].RespostaQuestao.Count > 0)
                                {
                                    @Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = "form-control", @style = "text-align:right;font-size:medium;width:60px", @Id = "txtNota-" + @Model.Questao[i].Id, @onkeyup = "AoDigitarNota(" + @Model.Questao[i].Id + ")", @onchange = "AoSairNota(" + @Model.Questao[i].Id + ")" } })
                                }
                            }
                            else
                            {
                                if (Model.Questao[i].RespostaQuestao != null && Model.Questao[i].RespostaQuestao.Count > 0)
                                {
                                    @Html.EditorFor(model => model.Questao[i].RespostaQuestao[0].ValorResposta, new { htmlAttributes = new { @class = lClassEtapa31, @style = "text-align:right;font-size:medium;width:60px", @Id = "txtNota-" + @Model.Questao[i].Id, @onkeyup = "AoDigitarNota(" + @Model.Questao[i].Id + ")", @onchange = "AoSairNota(" + @Model.Questao[i].Id + ")" } })
                                }
                            }

                            @if (Model.Questao[i].RespostaQuestao != null && Model.Questao[i].RespostaQuestao.Count > 0)
                            {
                                @Html.HiddenFor(model => model.Questao[i].RespostaQuestao[0].IdQuestao)
                                @Html.HiddenFor(model => model.Questao[i].RespostaQuestao[0].IdAvaliacao, new { @Value = ViewBag.IdAvaliacao })
                            }
                        </td>
                    </tr>
                }//--------------------------------------------------------------------------------------------------------------------------------------------------
                if (Model.Questao[i].IdEtapa != 3 && lIdSituacaoAvaliacao != 3)
                {
                    if (lContadorEtapa2Grupo1 == lTotalEtapa2Grupo1)
                    {
                            <tr>
                                <td colspan="3" style="color:black;font-size:medium;font-family:Arial;background-color:#D8BFD8">@Html.Label("PARECER DO AVALIADOR", htmlAttributes: new { @class = "control-label" })</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                @{
                                    if (lUsuario.Perfil.Id != (int)Dominio.Enums.Perfil.Secretaria && lUsuario.Perfil.Id != (int)Dominio.Enums.Perfil.Administrador)
                                    {
                                        @Html.ValidationMessageFor(model => model.ParecerAvaliador, null, new { @class = "text-danger" })
                                        @Html.TextAreaFor(model => model.ParecerAvaliador, htmlAttributes: new { @style = "width:800px" })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(model => model.ParecerAvaliador, htmlAttributes: new { @class = "form-control", @style = "text-align:right;font-size:medium;background-color:#eeeeee;width:800px", @readonly = "readonly" })
                                    }
                                }
                                </td>
                            </tr>
                            lContadorEtapa2Grupo1 = 0;
                    }
                }

            }
        }
}
</table>
