@using Alvo.Common.HtmlHelpers
@model Alvo.ViewModels.AvaliacaoViewModel
@{
    ViewBag.Modulo = "Avaliação";
    ViewBag.Title = "Avaliação Candidato";
}

@using (Html.BeginForm())
{
    Alvo.ViewModels.UsuarioViewModel lUsuario = ViewBag.Usuario;
    int lIdSituacaoAvaliacao = ViewBag.IdSituacaoAvaliacao;
    string lParecerAvaliador = ViewBag.lParecerAvaliador;
    @Html.AntiForgeryToken()

    <fieldset id="DadosCandidato">

        @Html.HiddenFor(model => model.Id, new { @Id="IdAvaliacao",@Name="Id"})
        
        @Html.HiddenFor(modelItem => Model.IdSituacaoAvaliacao, new { @Id = "IdSituacaoAvaliacao", @Name = "IdSituacaoAvaliacao" })

        @if (!string.IsNullOrEmpty(lParecerAvaliador))
        { 
            @Html.HiddenFor(modelItem => Model.ParecerAvaliador, new { @Id = "ParecerAvaliador", @Name = "ParecerAvaliador" })
        }
        <legend>Dados do Candidato</legend>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                @Html.Label("Nome", htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                    <div>
                        @Html.DisplayFor(model => model.CandidatoProcessoSeletivo.Candidato.Nome)
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    @Html.Label("Instituição", htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DisplayFor(model => model.CandidatoProcessoSeletivo.Candidato.Instituicao)
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    @Html.Label("Curso", htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DisplayFor(model => model.CandidatoProcessoSeletivo.Candidato.Curso)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    @Html.Label("Área de Concentração", htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DisplayFor(model => model.CandidatoProcessoSeletivo.AreaConcentracao.Nome)
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    @Html.Label("Tema do Projeto", htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DisplayFor(model => model.CandidatoProcessoSeletivo.TemaProjeto)
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset id="DadosAvaliacao">
        <legend>Avaliação</legend>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                @Html.Label("Professor", htmlAttributes: new { @class = "control-label " })
                <div class="form-group">
                    <div>
                        @Html.DisplayFor(model => model.Usuario.Nome)
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                @Html.Label("Estado Avaliação", htmlAttributes: new { @class = "control-label " })
                <div class="form-group">
                    <div>
                        @Html.DisplayFor(model => model.Situacao)
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                @Html.Label("Situação", htmlAttributes: new { @class = "control-label " })
                <div class="form-group">
                    <div>
                        @Html.DisplayFor(model => model.SituacaoAvaliacao.Situacao)
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                @Html.Label("Nota Parcial", htmlAttributes: new { @class = "control-label " })
                <div class="form-group">
                    <div>
                        @Html.DisplayFor(model => model.NotaParcial)
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                @Html.Label("Nota Final", htmlAttributes: new { @class = "control-label " })
                <div class="form-group">
                    <div>
                        @Html.DisplayFor(model => model.NotaFinal)
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset id="DadosQuestionario">
        <legend>Questionário</legend>
        @Html.Partial("_Questoes", Model.Questionario)
    </fieldset>
    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="form-group">
                @Html.Label("Média Parcial: ", htmlAttributes: new { @class = "control-label " }) <label id="IdMediaParcial">@ViewBag.IdMediaParcial</label>
            </div>
        </div>
        @*<div class="col-md-3 col-sm-3">
            <div class="form-group">
                @Html.Label("Média Final: ", htmlAttributes: new { @class = "control-label " }) <label id="IdMediaFinal">@ViewBag.IdMediaFinal</label>

            </div>
        </div>*@
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8 col-sm-8">
            @{
                if (lUsuario != null && lUsuario.Perfil.Id == (int)Dominio.Enums.Perfil.Professor)
                { 
                    @*<input type="submit" value="Confirmar" class="btn btn-primary" />*@
                @*@Html.ActionLink("Confirmar", "ConfirmarAvaliacao", "Avaliacao", null, new { @class = "btn btn-primary", @Id = "btnConfirmar", @onclick = "AoConfirmar()" })*@
                    @*<input type="button" class="btn btn-primary" id="btnConfirmar" onclick="AoConfirmar()" value="Confirmar::">*@
    <input type="submit" class="btn btn-primary" id="btnConfirmar" value="Confirmar::" name="btnConfirmar">
                }
}
                @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4 col-sm-4" style="text-align:right">
            @{
    if (lUsuario != null && lUsuario.Perfil.Id == (int)Dominio.Enums.Perfil.Professor)
    {
        <input type="submit" value="Finalizar Avaliação" class="btn btn-success" name="btnFinalizar" />
    }
            }
        </div>

    </div>
}

<script type="text/javascript">
    function AoSairNota(idQuestao) {

        var lSomatorioNota = 0;
        var lTotalGrupo1 = 0;
        var lTotalGrupo2 = 0;
        ////////var lTotalGrupo3 = 0;

        var lResultadoParcial = 0;
        var lResultadoFinal = 0;

        $("tr[name='QuestaoQuestionario'] td").each(function (index, element) {
            if ($(element).hasClass('questao')) {

                

                var lIdGrupo = $(element).attr('data-id-grupo');

                var elFilho = $(element).children();

                if (elFilho.val() != "") {
                    var idQ = $(this).parent().attr('idquestao');
                    $(this).parent().attr('data-questao', idQ + '-' + elFilho.val());

                    if (lIdGrupo == 1 || lIdGrupo == 2) {

                        if (lIdGrupo == 1) {
                            $(element).attr('data-questao', elFilho.val());
                            lTotalGrupo1 += parseFloat(elFilho.val());
                        } else if (lIdGrupo == 2) {
                            lTotalGrupo2 += parseFloat(elFilho.val());
                        }
                        ////////else if (lIdGrupo == 3) {
                        ////////    lTotalGrupo3 += parseFloat(elFilho.val());
                        ////////}

                        lSomatorioNota += parseFloat(elFilho.val());

                        lResultadoParcial = ((lTotalGrupo1 * 7) + (lTotalGrupo2 * 3)) / 10;
                        ////////lResultadoFinal = ((lTotalGrupo3 * 5) + (lTotalGrupo1 * 3) + (lTotalGrupo2 * 2)) / 10;

                        $('#IdMediaParcial').text(lResultadoParcial);
                        ////////$('#IdMediaFinal').text(lResultadoFinal);
                    }
                }
            }
        });

        $('#txtResultadoParcial').val(lSomatorioNota);
    }

    function AoDigitarNota(idQuestao) {

        var lSomatorioNota = 0;

        var elPai = $('#txtNota-' + idQuestao);
        var elFilho = elPai.parent().parent().find('.valorBarema').html();
        var lNota = elPai.val();
        lNota = lNota.trim().replace(',', '.');
        elFilho = elFilho.trim().replace(',', '.');

                if (elFilho != "" && lNota != "") {

                        var lValorBarema = parseFloat(elFilho).toFixed(2);
                        var lValorNota = parseFloat(lNota).toFixed(2);
                        if (parseFloat(lValorNota) > parseFloat(lValorBarema)) {

                            elPai.val('');
                            //$('#txtNota-' + idQuestao).val('');
                            //return false;
                        }
                    }
    }

    function AoConfirmar() {
        ////////pAvaliacaoViewModel.Id;
        ////////pAvaliacaoViewModel.ParecerAvaliador
        ////////pAvaliacaoViewModel.IdSituacaoAvaliacao
        var Id = $('#Id').val();
        var ParecerAvaliador = $('#IdSituacaoAvaliacao').val();
        var IdSituacaoAvaliacao = $('#ParecerAvaliador').val();

        $("#tblQuestoesAvaliacao tr[data-questao]").each(function (index) {
            
            var lQuestao = $(this).data("questao").split("-");
            var lIdQuestao = lQuestao[0];
            var lValorResposta = lQuestao[1];

            $('form').append("<input type='hidden' name='Questao[" + index + "].RespostaQuestao[0].IdQuestao' value='" + lIdQuestao + "' />");
            $('form').append("<input type='hidden' name='Questao[" + index + "].RespostaQuestao[0].ValorResposta' value='" + lValorResposta + "' />");
        });

        $('form').attr('action', 'ConfirmarAvaliacao');
        $('form').submit();
    }

</script>

@section Scripts {
    @Html.RenderScripts()
    @{Html.RenderPartial("~/Views/Shared/_Mensagem.cshtml");}

}