@model IEnumerable<Alvo.ViewModels.AvaliacaoViewModel>

@{
    ViewBag.Modulo = "Avaliação";
    ViewBag.Title = "Classificação dos Candidatos";
}
@using (Html.BeginForm("Classificacao","Avaliacao"))
{
    @Html.AntiForgeryToken()
    @*<div class="row">
        <div class="col-md-12 col-sm-12">
            <input type="submit" value="Pesquisar" class="btn btn-primary" />
        </div>
    </div>*@
    <p>&nbsp;</p>
    <table id="dvData" class="table">
        <thead>
            <tr>
                <th>
                    @Html.Raw("Processo Seletivo")
                </th>
                <th>
                    @Html.Raw("Candidato")
                </th>
                <th>
                    @Html.Raw("Área de Concentração")
                </th>
                <th>
                    @Html.Raw("Resultado")
                </th>
                <th>
                    @Html.Raw("Nota Entrevista")
                </th>
                <th>
                    @Html.Raw("Nota Proposta de Trabalho")
                </th>
                <th>
                    @Html.Raw("Nota Currículo Lattes")
                </th>
                <th>
                    @Html.Raw("Nota Final")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidatoProcessoSeletivo.ProcessoSeletivo.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidatoProcessoSeletivo.Candidato.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidatoProcessoSeletivo.AreaConcentracao.Nome)
                    </td>
                    <td>
                        @{
                            if (item.Aprovado)
                            { 
                                @Html.DisplayFor(modelItem => item.Resultado)
                            }
                            else
                            {
                                @*@Html.DisplayFor(modelItem => item.Resultado)*@
                                @Html.Label(item.Resultado, htmlAttributes: new { @class = "control-label", @style = "color:red; text-align:center;" })
                            }
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.NotaEntrevista)</td>
                    <td>@Html.DisplayFor(modelItem => item.NotaProposta)</td>
                    <td>@Html.DisplayFor(modelItem => item.NotaLattes)</td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.NotaFinal)*@
                        @{
                            if (item.Aprovado)
                            {
                                @Html.DisplayFor(modelItem => item.NotaFinal)
                            }
                            else
                            {
                                @*@Html.DisplayFor(modelItem => item.NotaFinal)*@
                                @Html.Label(item.NotaFinal.ToString(), htmlAttributes: new { @class = "control-label", @style = "color:red" })
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink(" ", "DetalhesAvaliacao", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-list-alt", title = "Detalhes da Avaliação" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}