@model IEnumerable<Alvo.ViewModels.CandidatoProcessoSeletivoViewModel>

@{
    ViewBag.Modulo = "Avaliação";
    ViewBag.Title = "Pesquisa";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <fieldset id="Processo">
        <legend>Filtro de Pesquisa</legend>
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="form-group">
                    <div>
                        @Html.Label("Processo Seletivo", htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("IdProcessoSeletivo", null, "Selecione", new { @class = "js-example-basic-single js-states form-control", @Name = "IdProcessoSeletivo" })<br />
                    </div>
                </div>
            </div>
            @{
    if (ViewBag.IdUsuario != null && (ViewBag.IdUsuario.IdPerfil == (int)Dominio.Enums.Perfil.Administrador || ViewBag.IdUsuario.IdPerfil == (int)Dominio.Enums.Perfil.Secretaria))
    {
        <div class="col-md-3 col-sm-3">
            <div class="form-group">
                <div>
                    @Html.Label("Situação", htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("IdSituacaoAvaliacao", null, "Selecione", new { @class = "js-example-basic-single js-states form-control", @Name = "IdSituacaoAvaliacao" })<br />
                </div>
            </div>
        </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <div>
                            @Html.Label("Professor", htmlAttributes: new { @class = "control-label " })
                            @Html.DropDownList("IdProfessor", null, "Selecione", new { @class = "js-example-basic-single js-states form-control", @Name = "IdProfessor" })<br />
                        </div>
                    </div>
                </div>
    }
            }
        </div>
    </fieldset>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <input type="submit" value="Pesquisar" class="btn btn-primary" />
        </div>
    </div>
    <hr />

}
<table id="dvData" class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.Raw("Processo Seletivo")
                </th>*@
            <th>
                @Html.Raw("Candidato")
            </th>
            <th>
                @Html.Raw("Área de Concentração")
            </th>
            <th>
                @Html.Raw("Estado Avaliação")
            </th>
            <th>
                @Html.Raw("Situação")
            </th>
            <th>
                @Html.Raw("Resultado")
            </th>
            <th>
                @Html.Raw("Professor")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td style="font-size:small">
                        @Html.DisplayFor(modelItem => item.ProcessoSeletivo.Titulo)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Candidato.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaConcentracao.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoAvaliacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SituacaoAvaliacao)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Resultado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avaliacao.FirstOrDefault().NomePrefessor)
                </td>
                <td>
                    @{
            if (!item.Avaliacao.Any(x => x.Concluida == true))
            {
                @Html.ActionLink(" ", "Avaliacao", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil", title = "Avaliar" })
            }
            else
            {
                @Html.ActionLink(" ", "DetalhesAvaliacao", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-list-alt", title = "Detalhes da Avaliação" })
            }

            @*if (item.AvaliacaoConcluida != null && item.AvaliacaoConcluida.Concluida)
                {
                    @Html.ActionLink(" ", "DetalhesAvaliacao", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-list-alt", title = "Detalhes da Avaliação" })
                }
                else
                {
                    @Html.ActionLink(" ", "Avaliacao", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil", title = "Avaliar" })
                }*@
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
